<!doctype html>
<html lang="{{htmlLang}}">
  <head>
{{> head}}
  </head>
  <body>
{{> header}}
    <main id="main">
      <article class="legal">
{{{articleHtml}}}
      </article>
    </main>
{{> footer}}
{{> scripts}}
  </body>
</html>
